{% extends 'base.html' %}

{% block title %}
invite friends
{% endblock title %}


{% block content %}


    {% if is_empty %}
        <h1>Нет отправленных заявок</h1>
    {% endif %}

    {% for obj in qs %}
        <div class = "ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src={{obj.avatar.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.bio}}</p>
                        <a href={{obj.get_absolute_url}}><button class="ui primary button mb-5 w-big"> Посмотреть профиль.</button></a>
                        <br>
                        {% if obj.user in rel_receiver and request.user not in obj.friends.all %}
                            <button class="ui disabled button mb-5 w-big"><i class="user icon"></i>Ожидание подтверждения</button>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
